@tailwind base;
@tailwind components;
@tailwind utilities;


.inertia-progress {
    height: 80px !important;  /* Increase the height */
    background-color: #ffffff !important;  /* Optional: Change the color */
}

/* Optional: Adjust the bar itself */
.inertia-progress .inertia-progress-bar {
    height: 80px !important;
}

.course-list {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .course-list.show {
    max-height: 500px; /* Adjust as needed */
    opacity: 1;
  }